---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Página <%= page_number %> de <%= num_pages %></p>
  <% if prev_page %>
    <p><%= link_to 'Página anterior', prev_page %></p>
  <% end %>
  <hr>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h1><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.summary(250) %>
  <hr>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Página Siguiente', next_page %></p>
  <% end %>
<% end %>
